<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Hotel For Dads" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<header class="hfd-header">
  		<nav class="desktop-nav">
  			<div class="left-nav cl-effect-11">
  				<a href="/about/" data-hover="ABOUT">ABOUT</a>
  				<a href="" data-hover="ARCHIVE">ARCHIVE</a>
  			</div>
  			<a href="/" class="logo">
  				<h1 class="large-text" data-hover="hotel">hotel</h1>
  				<h2 class="for">for</h2>
  				<h1 class="large-text" style="font-size:52px;" data-hover="dads">dads</h1>
  			</a>
  			<div class="right-nav cl-effect-11">
  				<a href="" data-hover="CONTACT">CONTACT</a>
  			</div>
  		</nav>

  	</header> 

    <%= yield %>

  </body>
</html>
