<!DOCTYPE html>
<html>
<head>
  <title>Hfd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="hfd-header">
		<nav class="desktop-nav">
			<div class="left-nav">
				<a href="">ABOUT</a>
				<a href="">ARCHIVE</a>
			</div>
			<div class="logo">
				<h1 class="large-text">hotel</h1>
				<h2 class="for">for</h2>
				<h1 class="large-text">dads</h1>
			</div>
			<div class="right-nav">
				<a href="">CONTACT</a>
			</div>
		</nav>

	</header> 
	<div class="hero-vid"></div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


	


<%= yield %>
</body>
</html>
